{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Reset my password{% endblock %}

{% block template %}
<div>
{{ form_start(form) }}
	{{ form_errors(form) }}
	
	{{ form_row(form.password) }}
	
	<input type="submit" value="reset" />
	
{{ form_end(form) }}
</div>
{% endblock %}