.intro-frame
{
	height: 100px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.left
{
	text-align: left;
}

.right
{
	text-align: right;
}

nav
{
    display: inline-block;
    width: 30%;
    text-align: left;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #3C8DDE;
    border-bottom: 3px solid #3C8DDE;
}

.flash-notice
{
	color: #20A12B;
	border: 20px;
}

.flash-warning
{
	color: #E30000;
	border: 20px;
}

.inline
{
	display: inline;
	zoom: 1;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.colored
{
	padding: 10px;
    color: white;
    width: 40%;
    border-radius: 5px;
    overflow: hidden;
    height: 80px;
}
.colored a:hover
{
   	text-decoration: none;
	color: black;
}
.colored a:visited
{
    color: white;
    text-decoration: none;
}
.new
{
	background-color: #8ABB3F;
	border:50px;
}

.list
{
	background-color: #F05C67;
	border:50px;
}

.table
{
	width: 70%;
}

table
{
    border-collapse: collapse;
}
td
{
    border: 1px solid black;
}

.color
{
	background-color: #C2D5F0;
}

.form-field
{
	text-align: center;
}

.error-list
{
    list-style-type: none;
}

.error-list li
{
	color: red;
    display: inline-block;
    margin-right: 15px;
}

label
{
	white-space: pre-line;
}