{% extends '::base.html.twig' %}

{% block body %}

<header class="intro-frame">
	<div class="left">
		<img src="{{ asset('Lightnest-Logo_Tiny.png') }}" class="float" /><br/>
	</div>
	
	<div class="right">
		Welcome {{ app.user.username }}<br/>
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('logout') }}">Logout</a>
			<a href="{{ path('user_change_password') }}">Change password</a>
		{% endif %}
	</div>
</header>

<nav>
	<ul>
	{% if is_granted('ROLE_ADMIN') %}
		<li>
			<a href="{{ path('homepage_admin') }}" title="Admin Homepage"><img src="{{ asset('bundles/lightnestdistribution/images/admin-homepage.jpg') }}" alt="Admin Homepage" width="35" height="35"/></a>
		</li>
	{% endif %}
	{% if is_granted('ROLE_STAFF') %}
		<li>
			<a href="{{ path('homepage_staff') }}" title="Staff Homepage"><img src="{{ asset('bundles/lightnestdistribution/images/staff-homepage.png') }}" alt="Staff Homepage" width="35" height="35"/></a>
		</li>
	{% endif %}
		
		<li>
			<a href="{{ path('homepage_client') }}" title="Homepage"><img src="{{ asset('bundles/lightnestdistribution/images/client-homepage.png') }}" alt="Homepage" width="35" height="35"/></a>
		</li>
	</ul>
</nav>

<section class="flash-notice">
	{% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
	{% endfor %}
</section>

<section class="flash-warning">
	{% for flashMessage in app.session.flashbag.get('warning') %}
        {{ flashMessage }}
	{% endfor %}
</section>

{% block template %}
{% endblock %}

{% endblock %}