<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lightnest SEO Portal{% endblock %}</title>
        <!--[if lt IE 9]>
    		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('bundles/lightnestdistribution/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
