{% extends '::base.html.twig' %}

{% block body %}
{% if error %}
{% endif %}

<form action="{{ path('login_check') }}" method="post">
	<label for="username">Username:</label>
	<input type="text" id="username" name="_username" value="{{  last_username }}" />
	
	<label for="password">Password:</label>
	<input type="password" id="password" name="_password" />
	
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
	
	<button type="submit">login</button>
</form>

{% endblock %}