{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="error-list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators')~'. ' }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock form_errors %}