{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Admin Homepage{% endblock %}

{% block template %}

<div class="inline">
	<div class="colored new float-left">
		<h3><a href="{{ path('admin_user_new') }}">Create a new staff account</a></h3>
	</div>
	
	<div class="colored list float-right">
		<h3><a href="{{ path('admin_user_list') }}">All User accounts</a></h3>
	</div>
</div>

{% endblock %}