{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Users list{% endblock %}
{% block template %}

<table class="table">
		<caption>Total Users: {{ pagination.getTotalItemCount }}</caption>
        <thead>
            <tr>
                <th>User</th>
                <th>Role</th>
                <th>Delete</th>
            </tr>
        </thead>
        
        <tbody>
		{% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</a></td>
                <td>
                	{% if user.role != "ROLE_ADMIN" %}
                		<a href="{{ path('admin_user_delete', { 'id': user.id }) }}" title="delete"><i class="icon-pencil"></i> delete</a>
                	{% endif %}
                </td>
			</tr>
		{% endfor %}
        </tbody>
<table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}