{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Create a new staff account{% endblock %}

{% form_theme form 'LightnestDistributionBundle:Form:form_errors.html.twig' %}

{% block template %}

<div>
{{ form_start(form) }}
	{{ form_errors(form) }}
	
    <div class="form-field">
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}
    </div>
    
    <div class="form-field">
	{{ form_label(form.password) }}
    {{ form_widget(form.password) }}
    {{ form_errors(form.password) }}
    </div>
	
    <div class="form-field">
		<input type="submit" value="add" />
	</div>
	
{{ form_end(form) }}
</div>

{% endblock %}