{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block template %}

<h1>Your files list</h1>

<table class="table">
		<caption>Total: {{ pagination.getTotalItemCount }}</caption>
        <thead>
            <tr>
            	{# sorting of properties based on query components #}
    			<th{% if pagination.isSorted('f.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'f.name') }}</th>
				<th>Size</th>
				<th>Upload</th>
            </tr>
        </thead>
        
        <tbody>
		{% for file in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ file.name }}</td>
                <td>{{ file.size }}</a></td>
                <td><a href="{{ path('client_file_download', {'id': file.id} ) }}" title="upload">Upload</a></td>
			</tr>
		{% endfor %}
        </tbody>
<table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}