<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Welcome on Lightnest SEO Portal</title>
</head>
<body>
<div>Hello {{ user }},<br/><br/>
We informe you that a file has been uploaded for your account on <a href="{{ url('homepage_main') }}">Lightnest SEO Portal</a>.<br/><br/>
Here the title of the new file: {{ file }}<br/><br/>
Kind regards,<br/><br/>
--<br/>
<img src="{{ host }}/Lightnest-Logo_Tiny.png" />Lightnest staff
</div>
</body>
</html>