<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Welcome on Lightnest SEO Portal</title>
</head>
<body>
<div>Hello {{ user }},<br/><br/>
We informe you that an account on <a href="{{ url('homepage_main') }}">Lightnest SEO Portal</a> has been created for you.<br/><br/>
Here the information:<br/><br/>
Username: {{ user }}<br/>
Password: {{ password }}<br/><br/>
You will have to reset your password the first time before accessing to your files.<br/><br/>
Kind regards,<br/><br/>
--<br/>
<img src="{{ host }}/Lightnest-Logo_Tiny.png" />Lightnest staff
</div>
</body>
</html>