{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Staff Homepage{% endblock %}

{% block template %}

<div class="inline">
	<div class="colored new float-left">
		<h3><a href="{{ path('staff_user_new') }}">Create a new client account</a></h3>
	</div>
	
	<div class="colored list float-right">
		<h3><a href="{{ path('staff_user_list') }}">All Client accounts</a></h3>
	</div>
</div>

{% endblock %}