{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Files list of {{ user_file.username }}{% endblock %}

{% block template %}
<a href="{{ path('staff_user_list') }}">Back</a>

<h1>Files list of the client {{ user_file.username }}</h1>
<p><a href="{{ path('staff_user_file_new', {'id': user_file.id }) }}">Add a file</a>
<br/></p>

<table class="table">
		<caption>Total: {{ pagination.getTotalItemCount }}</caption>
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Delete</th>
            </tr>
        </thead>
        
        <tbody>
		{% for file in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ file.name }}</td>
                <td>{{ file.size }}</a></td>
                {% if is_granted('ROLE_STAFF') %}
                	<td><a href="{{ path('staff_user_file_delete', { 'id': file.id }) }}" title="delete"><i class="icon-pencil"></i> delete</a></td>
                {% endif %}
			</tr>
		{% endfor %}
        </tbody>
<table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}