{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Clients list{% endblock %}

{% block template %}
<a href="{{ path('staff_user_new') }}" title="new user">Add a new client</a>

<table table="table">
		<caption>Total Clients: {{ pagination.getTotalItemCount }}</caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Files list</th>
                <th>Upload a file</th>
                <th>Delete</th>
            </tr>
        </thead>
        
        <tbody>
		{% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td><a href="{{ path('staff_user_file_list', { 'id': user.id }) }}" title="file list">list</a></td>
                <td><a href="{{ path('staff_user_file_new', { 'id': user.id }) }}" title="Upload a file">Upload</a></td>
                <td><a href="{{ path('staff_user_delete', { 'id': user.id }) }}" title="delete"><i class="icon-pencil"></i> delete</a></td>
			</tr>
		{% endfor %}
        </tbody>
<table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}