{% extends 'LightnestDistributionBundle::base.html.twig' %}

{% block title %}Upload a new file for {{ user_file.username }}{% endblock %}

{% form_theme form 'LightnestDistributionBundle:Form:form_errors.html.twig' %}

{% block template %}

<div>
{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-field">
	{{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
    </div>
    
    <div class="form-field">
		{{ form_label(form.file) }}
    	{{ form_widget(form.file) }}
    	{{ form_errors(form.file) }}
    </div>

    <div class="form-field">
    	<input type="submit" value="Upload"/>
    </div>
{{ form_end(form) }}
</div>

{% endblock %}