{% block field_errors %}
    {% if errors|length > 0 %}
        <ul class="error-form">
            {% for error in errors %}
            	<li>{{ error.messageTemplate|trans(error.messageParameters, 'validators')~'. ' }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock field_errors %}